<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
    <style>
        .container {
            text-align: center;
        }
        .blocco {
            width: 200px;
            height: 120px;
            display: inline-block;
            background: orange;
            padding-top: 70px;
        }
        .imgCantante {
            width: 70px;
            height: 70px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span>
            <a href="/home">
                <img style="height: 100px;" src="/images/logo.png">
            </a>
        </span>

        <span style="float: right;">
            <img style="height: 50px;" src="/images/logout.png">
        </span>

    </div>
    <a style="float: right;" href="/new-album">Aggiungi album</a>
    <div class="container">
        <table style="display: inline-block;">
            <tr>
                <td>Titolo</td>
                <td>Genere</td>
            </tr>
        <% album.forEach((alb) => { %>
            <tr>
                <td><a href="/albums/<%= alb.id %>"><%= alb.titolo %></a></td>
                <td><%= alb.genere_musicale %></td>
            </tr>
        <% }) %>
        </table>
    </div>
</body>
</html>