<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantanti</title>
    <style>
        .container {
            text-align: center;
        }
        .blocco {
            width: 200px;
            height: 120px;
            display: inline-block;
            background: orange;
            padding-top: 70px;
        }
        .imgCantante {
            width: 70px;
            height: 70px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span>
            <a href="/home">
                <img style="height: 100px;" src="/images/logo.png">
            </a>
        </span>

        <span style="float: right;">
            Benvenuto ( Mario Rossi )
            <img style="height: 50px;" src="/images/logout.png">
        </span>

    </div>
    <div class="container">
        <% cantanti.forEach((cantante) => { %>
        <div>
            <a href="/cantanti/<%= cantante.id %>">
                <img class="imgCantante" src="/images/<%= cantante.immagine %>" alt="">
                <p><%= cantante.nome %></p>
            </a>
        </div>
        <% }) %>
    </div>
</body>
</html>